Task1/custom_data/
Task1/data/
Task2/blinknet_data/
Task2/yawnnet_data/
Task2/raw_blinknet_data/
Task2/raw_yawnnet_data/
Task2/blink_dataset
Task2/raw_blink_dataset
Task2/blink_dataset_pnet
*.index
checkpoint*